<!DOCTYPE html>
<html>
<head>
	<title>Blog Sederhana</title>
	<link rel="stylesheet" type="text/css" href="/assets/web.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header>
		<h1>Blog Nurul </h1>
		<nav>
			<ul>
				<li><a href="#">Beranda</a></li>
				<li><a href="#">Kategori</a></li>
				<li><a href="#">Kontak</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="sidebar">
			<h2>Artikel Terbaru</h2>
			<ul>
				<li><a href="#">Artikel 1</a></li>
				<li><a href="#">Artikel 2</a></li>
				<li><a href="#">Artikel 3</a></li>
			</ul>
		</div>
		<div class="content">
			<div class="card">
				<img src="https://picsum.photos/300/200" alt="gambar 1">
				<h2>Artikel Pertama</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam hendrerit sapien vel urna sodales luctus. Aenean a arcu vel urna molestie facilisis.</p>
				<a href="#">Baca Selengkapnya</a>
			</div>
			<div class="card">
				<img src="https://picsum.photos/300/200" alt="gambar 2">
				<h2> Artikel Kedua</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam hendrerit sapien vel urna sodales luctus. Aenean a arcu vel urna molestie facilisis.</p>
				<a href="#">Baca Selengkapnya</a>
			</div>
			<div class="card">
				<img src="https://picsum.photos/300/200" alt="gambar 3">
				<h2> Artikel Ketiga</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam hendrerit sapien vel urna sodales luctus. Aenean a arcu vel urna molestie facilisis.</p>
				<a href="#">Baca Selengkapnya</a>
			</div>
		</div>
	</main>
</body>
</html>
