/* .flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 140px;
  height: 150px;
  /* margin: 10px; 
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex1 {
  margin-top: 10px;
  margin-left: 10px;
}
.flex8 {
  margin-left: 10px;
}

.flex2 {
  margin-top: 10px;
  margin-right: 10px;
}

.flex9 {
  margin-right: 10px;
}

.flex3 {
  margin-top: 10px;
}
.flex4 {
  margin-top: 10px;
  margin-right: 10px;
}
.flex10 {
  margin-top: 10px;
}
.flex11 {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.flex15 {
  margin-left: 10px;
}

.flex17 {
  margin-left: 10px;
}
.flex22 {
  margin-left: 10px;
}
.flex23 {
  margin-right: 10px;
}
.flex18 {
  margin-left: 10px;
}
.flex25 {
  margin-left: 10px;
}
.flex18 {
  margin-top: 10px;
}
.flex19 {
  margin-left: 10px;
} */

/* .container {
  display: flex;
  background-color: red;
  width: 50%;
}
.item1 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.item2 {
  background-color: blue;
}
.item3 {
  background-color: rgb(43, 255, 0);
}
.item4 {
  background-color: rgb(246, 255, 0);
}
.item5 {
  background-color: rgb(0, 170, 255);
} */

/* Common Styles */
/* .content {
  color: #fff;
  font: 100 24px/100px sans-serif;
  height: 150px;
  width: 900px;
  text-align: center;
}

.content div {
  height: 50%;
  width: 300px;
  flex-flow: wrap column;
}
.red {
  background: orangered;
}
.green {
  background: yellowgreen;
}
.blue {
  background: steelblue;
}
.black {
  background: black;
}
.yellow {
  background: yellow;
}
.orange {
  background: orange;
}


.content {
  display: flex;
  flex-wrap: wrap;
} */
.container {
  display: flex;
  flex-wrap: wrap;
}

.item1 {
  background-color: #78ff07;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 3px;
  height: 300px;
  width: 300px;
}

.item2 {
  background-color: #78ff07;
  margin-left: 10px;
  font-size: 20px;
  border-radius: 3px;
  height: 100px;
  width: 350px;
}

.item3 {
  background-color: #78ff07;
  margin-left: 10px;
  display: flex;
  font-size: 20px;
  border-radius: 3px;
  height: 100px;
  width: 350px;
}

.item4 {
  background-color: #78ff07;
  margin-left: 10px;
  font-size: 20px;
  border-radius: 3px;
  height: 100px;
  width: 350px;
}

.item5 {
  margin: 10px;
  padding: 20px;
  background-color: #ffe600;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.item6 {
  flex: 2 2 200px;
  margin: 10px;
  padding: 20px;
  background-color: #ff8000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.item7 {
  flex: 2 3 200px;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.item8 {
  flex: 2 3 200px;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
