body {
  padding-top: 20px;
  background: #f5f7f8;
}
h1 {
  text-align: center;
}

.grid-1 {
  display: grid;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 100px);
  grid-gap: 20px;
}

/* items */

.grid-1 div {
  color: white;
  font-size: 20px;
  padding: 20px;
}

/* specific item styles */

.item-1 {
  background: #58ff16;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.item-2 {
  background: #0003c9;
  grid-column: 3 / span 2;
}
.item-3 {
  background: #cc3605;
}
.item-5 {
  background: #02ffff;
  grid-row: 2 / span 2;
}

.item-6 {
  background: #f87400;
  grid-row: 2 / span 3;
}

.item-7 {
  background: #110b0b;
  grid-column: 1 / span 3;
}

.item-4 {
  background: #03b74e;
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}
.item-8 {
  background: #ff0000;
}
.item-9 {
  background: #00ccff;
  grid-column: 1 / span 4;
}
/* 
.item-5 {
  background: #da6f2b;
} */
