body{
  background-color: rgb(13, 244, 190);
}
 .container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
} 

h1 {
  text-align: center;
  font-size: 36px;
}

.todo-container {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 5px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  background-color: rgb(255, 237, 237);
  margin-bottom: 2px;
  
}

li:last-child {
  border-bottom: none;
  background-color: rgb(255, 237, 237);
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.completed {
  text-decoration: line-through;
}
